.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* social mobile */
.mobile-social-list {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-list-item {
  display: block;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
}
.social-list .social-icon {
  fill: #f4f4fd;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.mobile-menu-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 169px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link:hover,
.mobile-menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.contacts-list-mobile {
  font-weight: 500;
  font-size: 20px;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mobile-close {
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
}
/* section1 320*/
.section-page-titel {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg@1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 72px 52px;
  max-height: 432px;
}
.hero-titel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.page-title {
  margin-bottom: 62px;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button-hero {
  background-color: #4d5ae5;
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  max-width: 169px;
  max-height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
  border: none;
}
@media screen and (min-width: 768px) {
  .section-page-titel {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg@2.png);

    padding: 112px 136px;
    max-width: 768px;
    max-height: 436px;
  }

  .page-title {
    margin-bottom: 26px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
  }
}
@media screen and (min-width: 1158px) {
  .section-page-titel {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office1.jpg);

    padding: 188px 0 188px;
    max-height: 600px;
    max-width: 1440px;
  }

  .page-title {
    margin-bottom: 48px;
    max-width: 496px;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
  }
}
/* section2 */
.section-two {
  padding: 96px 0;
}

.icon-container {
  display: none;
}
.section-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: wrap;
  flex-wrap: wrap;

  gap: 72px;
}
.section-item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.section-subtitel {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  text-align: left;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.11111;
  letter-spacing: 0.02em;

  color: #434455;
}
@media screen and (min-width: 768px) {
  .section-list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .section-item-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-two {
    padding: 120px 0;
    justify-content: center;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }

  .section-item-list {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-list {
    gap: 24px;
  }
  .section-subtitel {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
  }
  .section-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}
/* section3 */
.section-team {
  padding: 96px 10px;
  background-color: #f4f4fd;
}
.section-titel {
  margin-bottom: 72px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.icon-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 72px;
}
.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  min-width: 264px;
  max-height: 100%;
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-title {
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.section-text-card {
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list-card {
  display: flex;
  align-items: center;

  flex-direction: row;
  gap: 24px;

  width: 232px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-card .social-list-item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
}
.social-list-card .social-icon-card {
  fill: #f4f4fd;
}
.social-link-card {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-card:hover,
.social-link-card:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .section-team {
    padding: 96px 92px;
  }
  .icon-list-item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px 24px;
  }
  .icon-list {
    width: calc((100% - 24px) / 4);
  }
}
@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 140px 120px;
  }
  .icon-list {
    justify-content: space-between;
    width: calc((100% - 72px) / 4);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
  }
  .icon-list:hover,
  .icon-list:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .icon-list-item {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
}
/* section4 */
.section-four {
  padding: 92px 0;
}
.list-portfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 42px;
}
.item-portfolio {
  position: relative;
  overflow: hidden;
  display: block;
}
.name-application {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  text-align: center;
}
.section-subtitel-sctf {
  text-align: normal;

  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text-sctf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.hover-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .list-portfolio {
    gap: 72px 24px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .item-portfolio {
    width: calc((100% - 48px) / 2);
  }
}
